body {
    margin: 0;
    padding: 0;
    font-family: Circular,"Helvetica Neue",Helvetica,Arial,sans-serif;
    font-size: 14px;
    color: #484848;
  }
  
  /* Additional styles for the browser tab icon */
  /* Use a square icon for better results (e.g., 16x16 pixels) */
  /* Add your own image path in url() */
  head {
    display: block;
    content: url('images/tab-icon.png');
  }
  